   <aside>
	<div class="panel radius">
		<h3>Actualités</h3>
		<p>
			Les actualités sont aussi votre rubrique. Si vous souhaitez diffuser une actualité qui se déroule à ou en relation avec Couthenans, n'hésitez pas à nous la transmettre à l'aide du formulaire de contact. 

			Votre annonce pourra ensuite être diffusé sur l'ensemble de nos moyens de communication : site internet, page Facebook mais aussi panneau de mairie ou lumineux.
		</p>
	</div>

  
	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			Image du panneau lumineux en devenir</a>
		</p>
	</div>
</aside>